.counter_block {
  width: 250px;
  height: 150px;
  background-color: darkcyan;
  border-radius: 5px;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
  color: black;
}

.red_counter {
  width: 250px;
  height: 150px;
  background-color: darkcyan;
  color: red;
  border-radius: 5px;
  text-align: center;
  line-height: 150px;
  font-size: 60px;
}


