.value_block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 150px;
  background-color: darkcyan;
  border-radius: 5px;
  color: black;
  text-align: center;
}

.value {
  font-size: 20px;
  padding: 5px;
}

input {
  width: 130px;
  height: 30px;
  border: 2px solid black;
}

.red {
  background-color: red;
}